<div class="container text-center" style="padding: 20px;">
  <div class="row">
      <!-- Tabla info series -->
      <div class="col-6">
          <table class="table table-hover" style="background-color: #92dee0;">
              <thead class="thead" style="background-color: #29bcc1;">
              <tr>
                      <th>#</th>
                      <th >Name</th>
                      <th>Channel</th>
                      <th>Seasons</th>
              </tr>
      </thead>

      <tbody>
        <tr *ngFor="let s of series">
          <td>
            <dd>{{s.id}}</dd>
          </td>
          <td>
            <dd>{{s.name}}</dd>
          </td>
          <td>
            <dd>{{s.channel}}</dd>
          </td>
          <td>
            <dd>{{s.seasons}}</dd>
          </td>
      </tr>
      </tbody>

    </table>
    <div class="row">
      <p class="col-4">Seasons average: {{averageSeasons}}</p>
    </div>
  </div>
</div>
